h1 {
    font-family: sans-serif;
    border-bottom: 1px solid black;
}
p {
    font-family: sans-serif;
    color: black;
} 

p.header_links {
    font-size: 24px;
    text-align: center;
}

p.logo {
    
}